In [0]:
from pyspark.sql import SparkSession
df1=spark.read.csv("/FileStore/tables/df2-1.csv",header=True,inferSchema=True)
df2=spark.read.csv("/FileStore/tables/df1-1.csv",header=True,inferSchema=True)

In [0]:
#inner join
df_inner_join=df1.join(df2,on="id",how="inner")

In [0]:
#outer join
df_outer_join=df1.join(df2,on="id",how="outer")
df_outer_join.distinct().count()
df_outer_join.count()
df_outer_join.show()

+---+-----+----+-----+----+
| id| name| age| name| age|
+---+-----+----+-----+----+
|  1| NULL|NULL| John|  28|
|  2| NULL|NULL|Alice|  30|
|  3| NULL|NULL|  Bob|  25|
|  4|  Eve|  35| NULL|NULL|
|  5| Mike|  40| NULL|NULL|
|  6|Sarah|  22| NULL|NULL|
+---+-----+----+-----+----+

In [0]:
#union all
df_union=df1.union(df1)

#union 
df_union_distinct=df1.union(df2).distinct()

In [0]:
df_union_distinct.orderBy("id").show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1| John| 28|
|  2|Alice| 30|
|  3|  Bob| 25|
|  4|  Eve| 35|
|  5| Mike| 40|
|  6|Sarah| 22|
+---+-----+---+